apiVersion: apps/v1
kind: DaemonSet
metadata:
  name: green-vault-ssh
  namespace: green
  labels:
    k8s-app: green-vault
spec:
  selector:
    matchLabels:
      name: green-vault-ssh
  template:
    metadata:
      labels:
        name: green-vault-ssh
    spec:
      nodeSelector:
        failure-domain.beta.kubernetes.io/zone: eu-central-1c
      containers:
      - image: vault:1.2.3
        name: green-vault-ssh
        command: ["/bin/sh"]
        args: [ "-c", "/usr/local/bin/vault/ssh-dump.sh"]
        env:
        - name: VAULT_ADDR
          value: http://green-vault:8200
        volumeMounts:
        - name: green-vault-ssh
          mountPath: /usr/local/bin/vault
        - name: host
          mountPath: /etc/ssh
      volumes:
      - name: green-vault-ssh
        configMap:
          defaultMode: 0777
          name: node-ssh
      - name: host
        hostPath:
          path: /etc/ssh
