---
# tasks file for roles/jenkins
- name: install default-jre
  package:
    name: default-jre
    state: present

- name: install python-setuptools
  package:
    name: python3-setuptools
    state: present

- name: install python3
  package:
    name: python3 
    state: present

#- name: install pip packages
#  pip:
#    name: virtualenv
#    state: present
#    executable: pip3

- name: Download Jenkins war file
  get_url:
    url: http://mirrors.jenkins.io/war-stable/latest/jenkins.war
    dest: /usr/local/etc

- name: Template for jenkins.service
  template:
    src: jenkins.service
    dest: /etc/systemd/system/jenkins.service
  notify:
    - RestartJenkins_Handler

